<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <%= link_to t("title"), "#", id: "logo" %>
  </div>
  <ul class="nav navbar-right top-nav">
    <li class="dropdown">
      <%= link_to current_admin.email, "#", data: {toggle: "dropdown"},
       class: "dropdown-toggle" %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to t("admin.account.setting"), "#" %>
        </li>
        <li class="divider">
        </li>
        <li>
          <%= link_to t("admin.top_page.log_out"), admin_logout_path %>
        </li>
      </ul>
    </li>
  </ul>
</nav>
