<div class="col-md-6 col-md-offset-3 text-center">
  <%= render "shared/error_messages" %>
  <h2><%= t "admin.top_page.bar" %></h2>
  <%= link_to t("admin.top_page.log_out"), admin_logout_path, class: "btn btn-primary" %>
</div>
